.markasread {
	background-image: url(BASEPATH/markasread/read.png);
	background-repeat: no-repeat;
}

.Unread .markasread {
	background-image: url(BASEPATH/markasread/unread.png);
	background-repeat: no-repeat;
}

