.markasread {
	background-image: url(BASEPATH/markasread/unchecked.png);
	background-repeat: no-repeat;
}

.Unread .markasread {
	background-image: url(BASEPATH/markasread/checked.png);
	background-repeat: no-repeat;
}

